<h1>Test</h1>
        <div>
            <h2>Rappels :</h2>

            <!-- Loop through reminders in chronological order -->
            {{#each reminders}}
            <div class="{{#if isPastReminder}}past-reminder{{/if}}">
                <p>{{reminderText}}</p>
                <button onclick="">Modifier</button>
                <button onclick="deleteReminder({{reminderId}})">Supprimer</button>
            </div>
            {{/each}}
        </div>

        <div>
            <h2>Vos groupes :</h2>

            <!-- Loop through user groups -->
            {{#each userGroups}}
            <div>
                <p>{{groupName}}</p>
            </div>
            {{/each}}
        </div>

        <script>
            // Add your JavaScript functions for editing and deleting reminders here
            function editReminder(reminderId) {
            // Implement your logic
            }

            function deleteReminder(reminderId) {
            // Implement your logic
            }
        </script>


