
<div>
    <h2>Rappels :</h2>
    <!-- Pour chaque rappel 2 boutons modifier et supprimer -->
    <!-- Les rappels doivent être dans l'odre chronologique -->
    <!-- Les rappels dépassés doivent être affiché différemment -->

    



</div>


<div>
    <h2>Vos groupes :</h2>

</div>